# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.cs-games-23-game-dev-2d.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
